<!DOCTYPE html>
<body>
    <h2 style="color: red">Please enter the correct username/password combination.</h2>
    <form action="/login" method="post" class="form" id="errorform">
        <input type="hidden" name="dummy" value="nothing"/>
        <input type="submit" class="button" name="backtologin" value="Go Back"/>
    </form>
</body>