<!DOCTYPE html>
<body>
	<br>
	<br>
    <h2 style="color: black">Please enter a valid username and password combination.</h2>
    <form action="/login" method="post" class="form" id="errorform">
        <input type="hidden" name="dummy" value="nothing"/>
        <input type="submit" class="button" name="backtologin" value="Go Back"/>
    </form>
    <br>
</body>