<!DOCTYPE html>

<body>
<br>
<br>
<h1>Welcome to WikiRace!</h1>
<h2>Select game:</h2>
<form action="/new-game" method="post" class="form" id="newGameButton">
    <input type="hidden" name="dummy" value="nothing"/>
    <input type="submit" class="button" value="New Game"/>
</form>
<br>
<form action="/new-game" method="post" class="form" id="joinGameButton">
    <input type="hidden" name="dummy" value="nothing"/>
    <input type="submit" class="button" value="Join Game"/>
</form>
<img src="./images/WikipediaBanner.png" height:"80px" width: "120px"></img>
</body>