<!DOCTYPE html>

<body>
<h1>Welcome to WikiRace.</h1>
<h2>Select game:</h2>
<form action="/new-game" method="post" class="form" id="newGameButton">
    <input type="hidden" name="dummy" value="nothing"/>
    <input type="submit" class="button" value="New Game"/>
</form>

</body>