<!DOCTYPE html>
<body>
<h1>New Game Set Up</h1>
<h2>Select game type:</h2>

<form class="form" method="post" id="myform" action="/start-dest">
	<input type="radio" name="game_mode" value="Timed" checked>Fastest Time<br>
	<input type="radio" name="game_mode" value="Clicks">Fewest Clicks.<br><br>
    <input type="submit" class="button" value="Submit"/>
</form><br />
<img src="./images/wikipedia.png" height:"77px" width: "90px">
</body>