<!DOCTYPE html>
<body>
<h1>New Game Set Up</h1>
<h2>Select game type:</h2>

<form class="form" method="post" id="myform" action="/start-dest">
	<input type="radio" name="game_mode" value="Timed" checked>Timed Race.<br>
	<input type="radio" name="game_mode" value="Clicks">Race to Fewest Clicks.<br><br>
    <input type="submit" class="button" value="Submit"/>
</form><br />
</body>

<div class="footer">
	<p>
	Creators: Nick Schneider, Steven Davis, George Albrecht
	</p>
</div>
