<!DOCTYPE html>
<html>

<body>
    <form action="signed-up" method="post" class="form" id="signed-up">
        <h2>Register for an account with WikiRace!</h2>
        <h3>Username:</h3>
        <input style="font-size: 25px" type="text" name="s_username" value=""/>
        <h3>Password:</h3>
        <input style="font-size: 25px" type="text" name="s_password" value=""/><br><br>
        <input type="submit" class="button" value="Sign Up"/>
    </form>
</body>

</html>