<!DOCTYPE html>
<body>
<form class="form" method="post" action="/race" id="_start">
	<p class="h2"><b>Select your Starting wiki page.</b></p>
	<input type="radio" name="start" value="https://en.wikipedia.org/wiki/Banana" checked>Banana<br>
	<input type="radio" name="start" value="https://en.wikipedia.org/wiki/Russia">Russia<br>
	<input type="radio" name="start" value="https://en.wikipedia.org/wiki/Halloween">Halloween<br>
	<input type="radio" name="start" value="https://en.wikipedia.org/wiki/Mahatma_Gandhi">Mahatma Gandhi<br>
<p class="h2"><b>Select your Destination wiki page.</b></p>
	<input type="radio" name="dest" value="https://en.wikipedia.org/wiki/Djibouti" checked>Djibouti<br>
	<input type="radio" name="dest" value="https://en.wikipedia.org/wiki/Protein">Protein<br>
	<input type="radio" name="dest" value="https://en.wikipedia.org/wiki/The_Bahamas">The Bahamas<br>
	<input type="radio" name="dest" value="https://en.wikipedia.org/wiki/George_W._Bush">George W. Bush<br><br>
	<input type="hidden" name="_game_mode" value="{{_mode}}"/>
	<input type="submit" class="button" value="Submit"/>
</form>
</body>

<div class="footer">
	<p>
	Creators: Nick Schneider, Steven Davis, George Albrecht
	</p>
</div>