<!DOCTYPE html>
<body>

<h2>Select your Start wiki page.</h2>
<form class="form" method="post" action="/race" id="_start">
	<input type="radio" name="start" value="banana" checked>Banana<br>
	<input type="radio" name="start" value="russia">Russia<br>
	<input type="radio" name="start" value="halloween">Halloween<br>
	<input type="radio" name="start" value="gandi">Mahatma Gandhi<br>
<p class="h2"><b>Select your Destination wiki page.</b></p>
	<input type="radio" name="dest" value="djibouti" checked>Djibouti<br>
	<input type="radio" name="dest" value="protein">Protein<br>
	<input type="radio" name="dest" value="bahamas">The Bahamas<br>
	<input type="radio" name="dest" value="bush">George W. Bush<br><br>
	<input type="submit" class="button" value="Submit"/>
</form>
</body>

<div class="footer">
	<p>
	Creators: Nick Schneider, Steven Davis, George Albrecht
	</p>
</div>