<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="wikiracestyle.css"/>
</header>

<center><body>
    {{{body}}}
</body></center>

<div class="footer">
	<p>
	Creators: Nick Schneider, Steven Davis, George Albrecht
	</p>
</div>

</html>